## This additional env file can be used as a less-secure (than docker secrets) way of separating secrets from the main env file

DS_PM_PASS=demouser
DS_WD_PASS=demouser
DS_HIVE_PASS=demouser
DS_CRC_PASS=demouser
DS_ONT_PASS=demouser

DS_PATCOUNT_PASS=demouser
